@use "variables" as *;

@import "bootstrap/scss/bootstrap";


.fondo {
    background-image: url('../img/fondo.webp');
    background-size: cover;
    background-position: bottom;
    height: 30rem;
}
.card-title{
    min-height: 5.5rem;
}